input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  background-color: #f5f7f8;
  color: #1f2426;
}

body {
  font-family: canada-type-gibson, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

input {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

label {
  display: inline-block;
}

.heading {
  display: block;
  color: red;
  font-weight: 700;
  font-variant: small-caps;
  line-height: 2.25rem;
  font-size: 2.25rem;
  font-family: canada-type-gibson,"Arial Black",Arial,sans-serif;
}

.heading-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.non-envelopes {
  padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: 2px 2px 2px grey;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 16px;
}

.form-field {
  margin-bottom: 6px;
}

.container {
  border: 2px solid gray;
  box-shadow: 5px 2px 2px grey;
  min-width: 386px;
  width: 400px;
  height: 100px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    ". . amount"
    ". title ."
    ". . .";
}

.envelope-title {
  grid-area: title;
  text-align: center;
}

.envelope-amount {
  grid-area: amount;
  text-align: center;
}

.envelope-style {
  margin-bottom: 10px;
}


.envelopes {
  padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: 2px 2px 2px grey;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
