input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.heading {
    color: red;
}

li {
    list-style: none;
}

.envelope-names {
    display: block;
}